# ***PYTHON***

# **FOR LOOP, WHILE LOOP**

# Patterns

In [1]:
for i in range(0,5):
    for j in range(i+1):
        print(j+1, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [3]:
number = 1 
for i in range(5):
    for j in range(i+1):
        print(number, end = ' ')
        number = number + 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [4]:
number = 1
for i in range (5,0,-1):
    for j in range(1,i+1):
        print(number, end = '   ')
        number = number + 1
    print()

1   2   3   4   5
6   7   8   9
10   11   12
13   14
15

# ITERATIONS

In [5]:
#Q1 store the names in a new_list whose corresponding value in the second list matches their length 
names = ['Jatin','Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjun', 'Sudhir', 'Menaka']
size = [5, 4, 5, 6, 4, 2, 5, 7, 6, 6, 8, 7]

new = []
for i , j in zip(names, size):                                                          # ZIP FUN()
    if len(i) == j:
        new.append(i)
print(new)

['Jatin', 'Rahul', 'Lalita', 'Fatima']

In [6]:
names = ['Jatin', 'Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjun', 'Sudhir', 'Menaka']
size = [5, 4, 5, 6, 4, 2, 5, 7, 6, 6, 8, 7]

new_list = [i for i, j in zip(names, size) if len(i) == j]                             # LIST COMPREHENSION

print(new_list)

['Jatin', 'Rahul', 'Lalita', 'Fatima']

In [ ]:
#Q2 From a list given below, get only the strings.
#names = [23,67,'Jatin',56,'Sachin',89,90,'Rahul','Lalita',102,12,24,'Priyanka',89,100,32,48,70,'Harshit','Priyank','Naveen',9,15,64,'Fatima','Nagarjuna',108,117,104,'Sudhir','Menaka']

In [7]:
names = [23, 67, 'Jatin', 56, 'Sachin', 89, 90, 'Rahul', 'Lalita', 102, 12, 24, 'Priyanka', 89, 100, 32, 48, 70, 'Harshit', 'Priyank', 'Naveen', 9, 15, 64, 'Fatima', 'Nagarjuna', 108, 117, 104, 'Sudhir', 'Menaka']

new_list = []
for i in names:
    if isinstance(i, str):                                       # FOR LOOP
        new_list.append(i)

print(new_list)

['Jatin', 'Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna', 'Sudhir', 'Menaka']

In [8]:
names = [23, 67, 'Jatin', 56, 'Sachin', 89, 90, 'Rahul', 'Lalita', 102, 12, 24, 'Priyanka', 89, 100, 32, 48, 70, 'Harshit', 'Priyank', 'Naveen', 9, 15, 64, 'Fatima', 'Nagarjuna', 108, 117, 104, 'Sudhir', 'Menaka']

new_list = []
i = 0
while i < len(names):
    if isinstance(names[i], str):                                # WHILE LOOP 
        new_list.append(names[i])
    i += 1

print(new_list)

['Jatin', 'Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna', 'Sudhir', 'Menaka']

In [ ]:
#Q3 display only the numeric values given in the list.
#names = [5, 4, 5, 6, 4, 2, 5, 7, 6, 6, 8, 7,'Jatin','Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjun', 'Sudhir', 'Menaka']

In [9]:
names = [5, 4, 5, 6, 4, 2, 5, 7, 6, 6, 8, 7, 'Jatin', 'Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjun', 'Sudhir', 'Menaka']

for i in names:
    if isinstance(i, (int, float)):                             # FOR LOOP
        print(i, end=',')

5,4,5,6,4,2,5,7,6,6,8,7,

In [10]:
names = [5, 4, 5, 6, 4, 2, 5, 7, 6, 6, 8, 7, 'Jatin', 'Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjun', 'Sudhir', 'Menaka']

i = 0
while i < len(names):
    if isinstance(names[i], (int, float)):                    # WHILE LOOP 
        print(names[i], end = ',')
    i += 1

5,4,5,6,4,2,5,7,6,6,8,7,

In [ ]:
# Q4 You have to append the salaries list in the emp list and then you have to display their salaries.
#emp = ['Sachin','Rahul','Lalita','Priyanka','Harshit','Priyank','Naveen','Fatima','Nagarjuna'] 
#sal = [34000,45000,50000,30000,28000,45000,55000,70000,60000]

In [11]:
emp = ['Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna'] 
sal = [34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

up_emp = []
emp = emp + sal
#print(emp)
                                                       # For Loop without indexing
for i in emp:
    if isinstance(i, (int, float)):
        up_emp.append(i)

print(up_emp)

[34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

In [12]:
emp = ['Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna'] 
sal = [34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

up_emp = []
emp = emp + sal
#print(emp)
                                                       # For Loop with indexing 
for i in range(len(emp)):
    if isinstance(emp[i], (int, float)):
        up_emp.append(emp[i])

print(up_emp)

[34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

In [13]:
emp = ['Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna'] 
sal = [34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

emp = emp + sal
new_list =[]
i = 0
while i < len(emp):                                    # While Loop with indexing 
    if isinstance(emp[i], (int, float)):
        new_list.append(emp[i])
    i += 1

print(new_list)

[34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

In [ ]:
# Q5 Display the names of those employees whose salary is greater than the average of all the employees.
# Employees = ['Sachin','Rahul','Lalita','Priyanka','Harshit','Priyank','Naveen','Fatima','Nagarjuna',34000,45000,50000,30000,28000,45000,55000,70000,60000]

In [14]:
Employees = ['Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna', 34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]

# Separate names and salaries
names = Employees[:9]
salaries = Employees[9:]
print(names)
print(salaries)

# Calculate the average salary
average_salary = sum(salaries) / len(salaries)
print(average_salary)

# Display the names of employees whose salary is greater than the average
for i in range(len(salaries)):
    if salaries[i] > average_salary:
        print(names[i])

['Sachin', 'Rahul', 'Lalita', 'Priyanka', 'Harshit', 'Priyank', 'Naveen', 'Fatima', 'Nagarjuna']
[34000, 45000, 50000, 30000, 28000, 45000, 55000, 70000, 60000]
46333.333333333336
Lalita
Naveen
Fatima
Nagarjuna

In [ ]:
#Q6 Display the names of those employees whose salary is greater than the average of all the employees.
#Employees = ['Sachin',34000,'Rahul',45000,'Lalita',50000,'Priyanka',30000,'Harshit',28000,'Priyank',45000,'Naveen',55000,'Fatima',70000,'Nagarjuna',60000]

In [15]:
Employees = ['Sachin', 34000, 'Rahul', 45000, 'Lalita', 50000, 'Priyanka', 30000, 
             'Harshit', 28000, 'Priyank', 45000, 'Naveen', 55000, 'Fatima', 70000, 
             'Nagarjuna', 60000]

# Separate names and salaries
names = Employees[::2]  # Get names from even indices
salaries = Employees[1::2]  # Get salaries from odd indices

# Calculate the average salary
average_salary = sum(salaries) / len(salaries)

# Display the names of employees whose salary is greater than the average
for i in range(len(salaries)):
    if salaries[i] > average_salary:
        print(names[i])

Lalita
Naveen
Fatima
Nagarjuna

In [ ]:
#Q7 df = [23,45000,15,33.5,41.2,60000,18.5,33.2,28.6,28000,34000,41.65,40000,35000]
#Update the list by replacing the values which are given in the format like (23K...23000)

In [16]:
df = [23, 45000, 15, 33.5, 41.2, 60000, 18.5, 33.2, 28.6, 28000, 34000, 41.65, 40000, 35000]
for i in range(len(df)):
    if df[i] < 1000:
        df[i]= df[i]*1000                                 # Replacing in the same list 
    else:
        df[i] = df[i]
print (df)

[23000, 45000, 15000, 33500.0, 41200.0, 60000, 18500.0, 33200.0, 28600.0, 28000, 34000, 41650.0, 40000, 35000]

In [17]:
df = [23, 45000, 15, 33.5, 41.2, 60000, 18.5, 33.2, 28.6, 28000, 34000, 41.65, 40000, 35000]

def update_values(lst):
    updated_list = []
    for i in lst:
        if i < 1000:   
            updated_list.append(i * 1000)                # updating in the new list 
        else:
            updated_list.append(i)
    return updated_list


updated_df = update_values(df)
print(updated_df)

[23000, 45000, 15000, 33500.0, 41200.0, 60000, 18500.0, 33200.0, 28600.0, 28000, 34000, 41650.0, 40000, 35000]

# ***DATA STRUCTURES***

# **TUPLES**

In [18]:
tuple = (1,5,8,9,6,5,10,3,5,9)

In [19]:
tuple.index(5)

1

In [20]:
tuple.index(5,tuple.index(5)+1)                              # second occurence dynamic

5

In [21]:
tuple.index(5,tuple.index(5,tuple.index(5)+1)+1)            # third occurence

8

In [22]:
#Q1 how many fraudulant swappings are done in that day and what are the indexes of that fraud value 0 - normal person 1 - fraud person 
Metro_card_fraud_detection = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)

In [23]:
Metro_card_fraud_detection.count(1)

3

In [24]:
Metro_card_fraud_detection.index(1)

36

In [25]:
Metro_card_fraud_detection.index(1, Metro_card_fraud_detection.index(1)+1)

73

In [26]:
Metro_card_fraud_detection.index(1,Metro_card_fraud_detection.index(1,Metro_card_fraud_detection.index(1)+1)+1)

128

# LOOPING ON TUPLES

In [27]:
#Q2 how many fraudulant swappings are done in that day and what are the indexes of that fraud value 0 - normal person 1 - fraud person 
Metro_card_fraud_detection = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)

In [28]:
count = 0
for i in Metro_card_fraud_detection:
    if i == 1:
        count = count + 1
print(count, end = " ")

3

In [29]:
#Q3 Gender Survey find the females and males
Gender = ("F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M","F","Male","Female","male","M")

In [30]:
m_count = 0
f_count = 0
for i in Gender:
    if i == 'F' or i == 'f' or i == 'Female' or i == 'female':
        f_count = f_count+1
    elif i == 'M' or i == 'm' or i == 'Male' or i == 'male': 
        m_count = m_count+1
print(f_count)
print(m_count)

16
24

In [31]:
#Q4 display only those names which are coming at indexes multiple of 3
names = ("Surya","Venky","Ritu","Siddhant","Sankar","Jyoti","Vepasa","Zahid","Jahanavi","Manasa","Vishnu","Aakash","Avichal")

In [32]:
names = list(names)
for i in names:
    a = names.index(i)
    if a%3 == 0:
        print(i, end = ',')

Surya,Siddhant,Vepasa,Manasa,Avichal,

# TUPLE INDEXING

In [ ]:
y = tuple(range(2000, 20000, 100))
num_values = len(y)
print(num_values)

first_100_values = y[:100]
print(first_100_values)

last_100_values = y[-100:]
print(last_100_values)

# **LIST**

In [36]:
#Q1
names = ['Gayathri', 'Akash', 'Ritu', 'Ritik', 'Radha', 'Venky', 'Jyoti']

In [37]:
# append the names at the last  
names.append('Dhanshree')

In [38]:
# add sankar name between radha and venky
names.insert(5,'Sankar')

In [39]:
# add Vepasa , Jahnavi, Vishnu, Manasa, Ritu
names.extend(['Vepasa', 'Jahnavi', 'Vishnu', 'Manasa', 'Ritu'])

In [40]:
# copy() copies the list 
names_1 = names.copy()
print(names_1)

['Gayathri', 'Akash', 'Ritu', 'Ritik', 'Radha', 'Sankar', 'Venky', 'Jyoti', 'Dhanshree', 'Vepasa', 'Jahnavi', 'Vishnu', 'Manasa', 'Ritu']

In [41]:
# pop() deletes the last element in the list 
names_1.pop()

'Ritu'

In [42]:
# remove() deletes the value of a user choice 
names_1.remove('Ritik')
print(names_1)

['Gayathri', 'Akash', 'Ritu', 'Radha', 'Sankar', 'Venky', 'Jyoti', 'Dhanshree', 'Vepasa', 'Jahnavi', 'Vishnu', 'Manasa']

In [43]:
# clear() clears the entire list 
names_1.clear()
print(names_1)

[]

# LOOPING ON LIST

In [44]:
#Q2
l = [15, 20, 23, 45, 60, 78, 91, 65, 78, 72, 60, 21, 35, 36, 40, 50, 88, 33, 11, 8, 4]

In [45]:
# display only the odd values of the list 
for i in l:
    if i%2 != 0:
        print(i, end = ',')

15,23,45,91,65,21,35,33,11,

In [46]:
# display the values at odd indexes 
for i in range(len(l)):
    if i%2 != 0:
        print(l[i], end = ',')

20,45,78,65,72,21,36,50,33,8,

In [47]:
for i in l :
    if l.index(i)%2 != 0:                          # using index()
        print(i, end = ',')

20,45,78,65,78,72,21,36,50,33,8,

In [48]:
#Q3
l = [15, 20, 23, 45, 60, 78, 91, 65, 78, 72, 60, 21, 35, 36, 40, 50, 88, 33, 11, 8, 4]

In [49]:
# store the even values from the list in a new list 
even = []
for i in l :
    if i % 2 == 0:
        even.append(i)
print(even)

[20, 60, 78, 78, 72, 60, 36, 40, 50, 88, 8, 4]

In [50]:
# store the values at the even indexes into a new list 
even = []
for i in range(len(l)):
    if i % 2 == 0:
        even.append(l[i])
print(even)

[15, 23, 60, 91, 78, 60, 35, 40, 88, 11, 4]

In [51]:
even = []
for i in l:
    if l.index(i) % 2 == 0:                              # using index()
        even.append(i)
print(even)

[15, 23, 60, 91, 60, 35, 40, 88, 11, 4]

In [52]:
#Q4 store the even values from the list in a new list after adding 100 to each value 
# store the odd values from the list in a new list after multiplying 100 to each value 

l = [15, 20, 23, 45, 60, 78, 91, 65, 78, 72, 60, 21, 35, 36, 40, 50, 88, 33, 11, 8, 4]
even =[]
odd =[]
for i in l:
    if i % 2 == 0:
        even.append(i+100)
    else:
        odd.append(i*100)
print(even)
print(odd)

[120, 160, 178, 178, 172, 160, 136, 140, 150, 188, 108, 104]
[1500, 2300, 4500, 9100, 6500, 2100, 3500, 3300, 1100]

In [53]:
#Q5 store names whose length is less than 5 in five_l otherwise store them in five_m
names = ['Gayathri', 'Akash', 'Ritu', 'Ritik', 'Radha', 'Sankar', 'Venky', 'Jyoti', 'Dhanshree', 'Vepasa', 'Jahanvi', 'Vishnu', 'Manasa', 'Ritu']
five_l = []
five_m = []
for i in names:
    if len(i) > 5 :
        five_m.append(i)
    else:
        five_l.append(i)
print(five_m)
print(five_l)

['Gayathri', 'Sankar', 'Dhanshree', 'Vepasa', 'Jahanvi', 'Vishnu', 'Manasa']
['Akash', 'Ritu', 'Ritik', 'Radha', 'Venky', 'Jyoti', 'Ritu']

In [54]:
#Q6 Store the employees in their respective companies lists TCS, HCL , Cognizant and IBM according to their employee_id.
Employees = ['TCS_234','HCL_2345','COG_321','IBM_3113','TCS_2342','HCL_245','COG_3221','IBM_1213','TCS_24','HCL_23','COG_32','IBM_13']
TCS = []
HCL = []
COG = []
IBM = []
for i in Employees:
    if i.startswith('TCS'):
        TCS.append(i)
    elif i.startswith('HCL'):
        HCL.append(i)
    elif i.startswith('COG'):
        COG.append(i)
    elif i.startswith('IBM'):
        IBM.append(i)
else:
    pass

print(TCS)
print(HCL)
print(COG)
print(IBM)

['TCS_234', 'TCS_2342', 'TCS_24']
['HCL_2345', 'HCL_245', 'HCL_23']
['COG_321', 'COG_3221', 'COG_32']
['IBM_3113', 'IBM_1213', 'IBM_13']

In [55]:
#Q7 Store only the ODD values of the data in new lists such that: 
# if the value is less than 40, then store it in a list name "value_l" after multiply each value by 10.
# and if the value is more than or equal to 40, store it in "value_m" after multiplying each value by 7.5.
data = [12,45,63,91,121,10,110,18,21,35,40,65,99,104,23,46,788,9,5,17,25,32,6,66,88,27]
value_m = []
value_l = []
for i in data:
    if i%2 != 0 and i >= 40:
        value_m.append(i*7.5)
    elif i%2 != 0 and i < 40:
        value_l.append(i*10)
print(value_m)
print(value_l)

[337.5, 472.5, 682.5, 907.5, 487.5, 742.5]
[210, 350, 230, 90, 50, 170, 250, 270]

# NESTED LIST INDEXING

In [61]:
#Q8 
inp = [10, 20, [30, 50, [60, 70,], 90], 100, 120]
#out = [10,20,[30,40,50,[60,70,80],90]100,110,120]

In [62]:
inp[2].insert(1,40)
print(inp)

[10, 20, [30, 40, 50, [60, 70], 90], 100, 120]

In [ ]:
#inp[2][2].insert(2,80)
#print(inp

In [63]:
inp.insert(4,110)
print(inp)

[10, 20, [30, 40, 50, [60, 70], 90], 100, 110, 120]

# ZIP()

In [65]:
#Q9 zip() function: it zips the elements of the two lists   Running two loops simulataneously
India = [245, 312, 308, 287, 266, 290, 300]
Australia = [248, 278, 312, 280, 265, 310, 296]
for i,j in zip(India, Australia):
    if i>j:
        print (i,j,"India won by", abs(i-j),"runs.")
    else:
        print(i,j,"Australia won by", abs(j-i),"runs.")

245 248 Australia won by 3 runs.
312 278 India won by 34 runs.
308 312 Australia won by 4 runs.
287 280 India won by 7 runs.
266 265 India won by 1 runs.
290 310 Australia won by 20 runs.
300 296 India won by 4 runs.

# TERNARY OPERATOR

In [66]:
#Q10 Store only the ODD values of the data in new lists such that: 
# if the value is less than 40, then store it in a list name "value_l" after multiply each value by 10.
# and if the value is more than or equal to 40, store it in "value_m" after multiplying each value by 7.5.
data = [12,45,63,91,121,10,110,18,21,35,40,65,99,104,23,46,788,9,5,17,25,32,6,66,88,27]
result = [(i*10) if (i < 40) else (i*7.5) for i in data if i % 2 ==0]
print(result)

[120, 100, 825.0, 180, 300.0, 780.0, 345.0, 5910.0, 320, 60, 495.0, 660.0]

# LIST COMPREHENSIONS

In [67]:
#Q11 store the names starting with R
names = ['Gayathri', 'Akash', 'Ritu', 'Ritik', 'Radha', 'Sankar', 'Venky', 'Jyoti', 'Dhanshree', 'Vepasa', 'Jahanvi', 'Vishnu', 'Manasa', 'Ritu']
list_r = [i for i in names if i.startswith("R")]
list_r

['Ritu', 'Ritik', 'Radha', 'Ritu']

In [68]:
#Q12 update the salary list in correct format eg: 40 --> 40000
salary = [23.4, 45, 6,67,8,90,32,67,45,7,35,51,60,2,50,5]
update_salary = [(i*1000) for i in salary]
print(update_salary)

[23400.0, 45000, 6000, 67000, 8000, 90000, 32000, 67000, 45000, 7000, 35000, 51000, 60000, 2000, 50000, 5000]

In [69]:
#Q13 store the even values from the list in a new list after adding 100 to each value 
# store the odd values from the list in a new list after multiplying 100 to each value
l = [15, 20, 23, 45, 60, 78, 91, 65, 78, 72, 60, 21, 35, 36, 40, 50, 88, 33, 11, 8, 4]
even = [(i+100) for i in l if i%2 == 0]
odd = [(i*100) for i in l if i%2 != 0]
print(even)
print(odd)

[120, 160, 178, 178, 172, 160, 136, 140, 150, 188, 108, 104]
[1500, 2300, 4500, 9100, 6500, 2100, 3500, 3300, 1100]

In [70]:
#Q14 Define the lists
l1 = [2, 3, 5, 7, 11]
l2 = [12, 45, 63, 91, 121, 10, 110, 18, 21, 35, 40, 65, 99]

# Find multiples using zip and list comprehension
for j in l1:
    multiples = [i for i in l2 if i % j == 0]
    print(f"{j}  {', '.join(map(str, multiples))}")

2  12, 10, 110, 18, 40
3  12, 45, 63, 18, 21, 99
5  45, 10, 110, 35, 40, 65
7  63, 91, 21, 35
11  121, 110, 99

# **SETS**

In [71]:
#Q1
s = set(range(2,21,3))
s

{2, 5, 8, 11, 14, 17, 20}

In [72]:
s.add(56)
s

{2, 5, 8, 11, 14, 17, 20, 56}

In [73]:
s.remove(56)
s

{2, 5, 8, 11, 14, 17, 20}

In [74]:
s.pop()

2

In [75]:
s.discard(45)
s

{5, 8, 11, 14, 17, 20}

In [76]:
#Q2 Sort the list and eliminate the duplicates
l = ["Delhi","Mumbai","Chennai","Bangaluru","Delhi","Mumbai","Chennai","Bangaluru","Delhi","Mumbai","Chennai","Bangaluru"]

In [77]:
l.sort()
print(l)

['Bangaluru', 'Bangaluru', 'Bangaluru', 'Chennai', 'Chennai', 'Chennai', 'Delhi', 'Delhi', 'Delhi', 'Mumbai', 'Mumbai', 'Mumbai']

In [78]:
s = set(l)
s

{'Bangaluru', 'Chennai', 'Delhi', 'Mumbai'}

In [79]:
s_1 = list(range(2,43,4))
s1 = set(s_1)

In [80]:
s_2 = list(range(6,43,6))
s2 = set(s_2)

In [81]:
# intersection 
s1.intersection(s2)

{6, 18, 30, 42}

In [82]:
# union
s1.union(s2)

{2, 6, 10, 12, 14, 18, 22, 24, 26, 30, 34, 36, 38, 42}

In [83]:
s1.difference(s2)                # s1-s2

{2, 10, 14, 22, 26, 34, 38}

In [84]:
s2.difference(s1)                # s2-s1

{12, 24, 36}

In [85]:
s1.symmetric_difference(s2)     # (s1 union s2) - (s1 intersection s2)

{2, 10, 12, 14, 22, 24, 26, 34, 36, 38}

# LOOPING ON SETS

In [86]:
#Q4 compare the string of both lists and display only those string which have more no of characters 
# Compare the strings
#morning = ["Akash", "Himanshu", "Kajol", "Gaya", "Shiny", "Bilal", "Swagath", "Dhivya", "soleh", "Vijaykumar","Jyothi"]
#evening = ["Surya", "Venky", "Ritu", "Sankar", "Jyoti", "Vepasa", "Zahid", "Manasa", "Vishnu", "Aakash", "Avichal"]

In [87]:
evening = ["Surya", "venky", "Ritu", "Sankar", "Jyoti", "Vepasa", "Zahid", "Manasa", "Vishnu", "Aakash", "Avichal"]
morning = ["Akash", "Himanshu", "Kajol", "Gaya", "Shiny", "Bilal", "Swagath", "Dhivya", "Mohammed soleh", "Vijaykumar", "Jyothi"]

winner_1 = []

for mor_name, eve_name in zip(morning, evening):
    if len(mor_name) > len(eve_name):
        winner_1.append(mor_name)
    elif len(eve_name) > len(mor_name):
        winner_1.append(eve_name)

print(winner_1)

['Himanshu', 'Kajol', 'Sankar', 'Vepasa', 'Swagath', 'Mohammed soleh', 'Vijaykumar', 'Avichal']

In [88]:
evening = ["Surya", "venky", "Ritu", "Sankar", "Jyoti", "Vepasa", "Zahid", "Manasa", "Vishnu", "Aakash", "Avichal"]
morning = ["Akash", "Himanshu", "Kajol", "Gaya", "Shiny", "Bilal", "Swagath", "Dhivya", "Mohammed soleh", "Vijaykumar", "Jyothi"]

winner_2 = []

for mor_name, eve_name in zip(morning, evening):
    if mor_name > eve_name:
        winner_2.append(mor_name)
    else:
        winner_2.append(eve_name)

print(winner_2)

['Surya', 'venky', 'Ritu', 'Sankar', 'Shiny', 'Vepasa', 'Zahid', 'Manasa', 'Vishnu', 'Vijaykumar', 'Jyothi']

In [89]:
winner1 = set(winner_1)
winner2 = set(winner_2)

In [90]:
res = (winner1.symmetric_difference(winner2))
print(res)

{'Vishnu', 'Mohammed soleh', 'venky', 'Himanshu', 'Kajol', 'Avichal', 'Swagath', 'Manasa', 'Shiny', 'Ritu', 'Surya', 'Jyothi', 'Zahid'}

# SET COMPREHENSION

In [91]:
#Q5 square the even numbers
num = [1,2,3,4,5,6,7,8,9,10]
even_squares = {x ** 2 for x in num if x % 2 == 0}
print(even_squares)

{64, 100, 4, 36, 16}

In [92]:
# square the odd numbers
num = [1,2,3,4,5,6,7,8,9,10]
odd_squares = {x ** 2 for x in num if x % 2 != 0}
print(odd_squares)

{1, 9, 81, 49, 25}

# **DICTIONARIES**

In [93]:
d1 = {'A': 'Ankitha', 'B':'Bilal', 'C':'Chetan', 'D':'Dhivya'}

In [94]:
d1.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [95]:
d1.values()

dict_values(['Ankitha', 'Bilal', 'Chetan', 'Dhivya'])

In [96]:
d1.items()

dict_items([('A', 'Ankitha'), ('B', 'Bilal'), ('C', 'Chetan'), ('D', 'Dhivya')])

In [97]:
#Q1 if the key is same, the new value will overwrite the old value
d2 = {'a': 100, 'Python': 200, 'Json': 5000,'Zahid': 3000, 'Python':500 }
d2

{'a': 100, 'Python': 500, 'Json': 5000, 'Zahid': 3000}

In [98]:
#Q2 Technical Interview question
d3 = {'jyoti': 33000,'s': 'Surya',1 : 'Dhanshree', 800 : 'Venky',False : 200,'cricket':'World Cup',0:11, True:'Gayathri'}
print(d3)

{'jyoti': 33000, 's': 'Surya', 1: 'Gayathri', 800: 'Venky', False: 11, 'cricket': 'World Cup'}

# LOOPING ON DICTIONARY

In [99]:
#Q4 get the names of emp where salary is greater than 40000
emp = ['Sachin','Rahul','Lalita','Priyanka','Harshit','Priyank','Naveen','Fatima','Nagarjuna'] 
sal = [34000,45000,50000,30000,28000,45000,55000,70000,60000] 
emp_info = dict(zip(emp,sal))
for i in emp_info.keys():
    if emp_info[i] >= 40000:
        print(i)

Rahul
Lalita
Priyank
Naveen
Fatima
Nagarjuna

# DICTIONARY INDEXING

In [100]:
#Q5 indexing in dictionary
state_ipl_team = {'UP':'LSG','Kerela':'Kochi tuskers','Gujarat':'Gujarat Lions','Chennai':'CSK','Bangalore':'RCB','West Bengal':'PBKS','Bombay':'MI'}

In [101]:
#1 indexing helps to get a value using a key
state_ipl_team['Chennai']

'CSK'

In [102]:
state_ipl_team['UP']

'LSG'

In [103]:
#2 indexing also helps to update the values at a particular key 
state_ipl_team['Gujarat'] = 'Gujarat Titans'
state_ipl_team['West Bengal'] = 'KKR'
print(state_ipl_team)

{'UP': 'LSG', 'Kerela': 'Kochi tuskers', 'Gujarat': 'Gujarat Titans', 'Chennai': 'CSK', 'Bangalore': 'RCB', 'West Bengal': 'KKR', 'Bombay': 'MI'}

In [104]:
#3 indexing helps to change the key keeping the value same
state_ipl_team['Tamil Nadu'] = state_ipl_team.pop('Chennai')
print(state_ipl_team)

{'UP': 'LSG', 'Kerela': 'Kochi tuskers', 'Gujarat': 'Gujarat Titans', 'Bangalore': 'RCB', 'West Bengal': 'KKR', 'Bombay': 'MI', 'Tamil Nadu': 'CSK'}

In [105]:
#4 indexing helps us to add new item in a dictionary 
state_ipl_team['Andhra Pradesh'] = 'SRH'
state_ipl_team['Punjab'] = 'PBKS'
print(state_ipl_team)

{'UP': 'LSG', 'Kerela': 'Kochi tuskers', 'Gujarat': 'Gujarat Titans', 'Bangalore': 'RCB', 'West Bengal': 'KKR', 'Bombay': 'MI', 'Tamil Nadu': 'CSK', 'Andhra Pradesh': 'SRH', 'Punjab': 'PBKS'}

In [106]:
#Q6
capitals = {'India':'New Delhi','Australia':'Adelaide','New Zealand':'Wellington','France':'Berlin','Netherlands':'Helsinki','Pakistan':'Colombo'}

In [107]:
capitals['Finland'] = capitals.pop('Netherlands')
capitals['Sri Lanka'] = capitals.pop('Pakistan')
print(capitals)

{'India': 'New Delhi', 'Australia': 'Adelaide', 'New Zealand': 'Wellington', 'France': 'Berlin', 'Finland': 'Helsinki', 'Sri Lanka': 'Colombo'}

In [108]:
capitals['Australia'] = 'Canberra'
capitals['France'] = 'Paris'
print(capitals)

{'India': 'New Delhi', 'Australia': 'Canberra', 'New Zealand': 'Wellington', 'France': 'Paris', 'Finland': 'Helsinki', 'Sri Lanka': 'Colombo'}

In [109]:
capitals['Spain'] = 'Madrid'
capitals['Germany']= 'Berlin'
print(capitals)

{'India': 'New Delhi', 'Australia': 'Canberra', 'New Zealand': 'Wellington', 'France': 'Paris', 'Finland': 'Helsinki', 'Sri Lanka': 'Colombo', 'Spain': 'Madrid', 'Germany': 'Berlin'}

# NESTED DICTIONARY

In [ ]:
#Q7 lists are mutable, dict keys are immutable so lists can never act like  a key, but tuple can becoz, tuples are immutable

In [110]:
cricket = {'Name': 'Rohit', 'Team': 'India', 'Designation': 'Captain','Birthplace':'Mumbai',
           ('Age', 'Attribute','Other_teams'): [38,'Opening batter','Mumbai Indians'],
           'Stats' : {'Matches': 300, 'Runs':5000, 'Wickets':60, 'Trophies as Captain': 6}}

In [111]:
cricket['Stats']

{'Matches': 300, 'Runs': 5000, 'Wickets': 60, 'Trophies as Captain': 6}

# CONVERSION OF 2 LISTS INTO 1 DICTIONARY

In [112]:
#Q8 converting two lists into one dictionary
candidates = ['Vepasa', 'Jahnavi', 'Sankar', 'Jyoti', 'Vishnu']
attendance = [56, 92,96, 95, 50]
info = dict(zip(candidates,attendance))
print(info)

{'Vepasa': 56, 'Jahnavi': 92, 'Sankar': 96, 'Jyoti': 95, 'Vishnu': 50}

# MERGING MULTIPLE DICTIONARY TO FORM A SINGLE DICTIONARY

In [113]:
#Q9 merging multiple dictionaries into a single dictionary
d1 = {'Name': 'Arjun', 'Surname': 'Allu'}
d2 = {'Language': 'Telugu', 'No_of_movies' : 50}
d3 = {'age': 38, 'Best_actor_award': 4}
d4 = {'Forthcoming movie': 'Pushpa 2'}
new_dict = {}
for d in (d1,d2,d3,d4):new_dict.update(d)                     # d.update(d1)   d.update(d2)   d.update(d3)    print(d)
print(new_dict)

{'Name': 'Arjun', 'Surname': 'Allu', 'Language': 'Telugu', 'No_of_movies': 50, 'age': 38, 'Best_actor_award': 4, 'Forthcoming movie': 'Pushpa 2'}

# **STRING**

In [114]:
s = 'Jahnavi is a promissing  learner'
s.split(' ')

['Jahnavi', 'is', 'a', 'promissing', '', 'learner']

In [115]:
#Q1 reverse the string 
d = 'T20 World Cup 2024'
d[-1: : -1]                         # reversing through indexing

'4202 puC dlroW 02T'

In [116]:
d = 'T20 World Cup 2024'
ld = d.split()
print(ld)
ld.reverse()                        # words are reveresed 
print(ld)
" ".join(reversed(d))               # characters are reversesd

['T20', 'World', 'Cup', '2024']
['2024', 'Cup', 'World', 'T20']

'4 2 0 2   p u C   d l r o W   0 2 T'

In [117]:
#Q2 check of the input string is a palindrome string 
sas = input("Enter the string: ")
if sas == "".join(reversed(sas)):
    print("It is a palindrome")
else:
    print("It is not a palindrome")

Enter the string:  malayalam

It is a palindrome

In [118]:
sas = "malayalam"
"".join(reversed(sas))

'malayalam'

In [119]:
#Q3 check the given list is palindrome list or not 
G = " Akash Sahil Manoj Suraj Zahid Himanshu Zahid Suraj Manoj Sahil Akash "
lg = G.split()
print("Original list:", lg)

reversed_lg = lg[::-1]  # This creates a reversed copy of the list
print("Reversed list:", reversed_lg)

if lg == reversed_lg:
    print("It is a palindrome")
else:
    print("It is not a palindrome")

Original list: ['Akash', 'Sahil', 'Manoj', 'Suraj', 'Zahid', 'Himanshu', 'Zahid', 'Suraj', 'Manoj', 'Sahil', 'Akash']
Reversed list: ['Akash', 'Sahil', 'Manoj', 'Suraj', 'Zahid', 'Himanshu', 'Zahid', 'Suraj', 'Manoj', 'Sahil', 'Akash']
It is a palindrome

In [120]:
#Q4 check the string is anagram or not 
s1 = "listen"
s2 = "silent"

ls1 = list(s1)
ls2 = list(s2)

ls1.sort()  # Sorts the list in place
ls2.sort()  # Sorts the list in place

print(ls1)
print(ls2)

if ls1 == ls2:  # Compare the sorted lists
    print("Anagrams")
else:
    print("Not anagrams")

['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']
Anagrams

In [121]:
#Q5 you have to store the words having a length more than equal to four in a new list 
a = 'Python is the best coding language in AI'

new_a = []
a_l = a.split(sep=" ")  # Split the sentence into words
for i in a_l:
    if len(i) >= 4:  # Check if the word length is 4 or more
        new_a.append(i)  # Add the word to the new list

print(new_a)

['Python', 'best', 'coding', 'language']

In [122]:
a = 'Python is the best coding language in AI'

new_a = [i for i in a.split() if len(i) >= 4]

print(new_a)

['Python', 'best', 'coding', 'language']

# **LAMBDA FUNCTIONS**

In [123]:
#Q1 Sorting a list of tuples based on the second element
points = [(2, 3), (1, 2), (4, 1), (3, 0)]
points_sorted = sorted(points, key=lambda x: x[1])
print(points_sorted)

[(3, 0), (4, 1), (1, 2), (2, 3)]

In [124]:
#Q2 Applying a lambda function to square each element in a list
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [125]:
#Q3 Filtering out even numbers from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5, 7, 9]

In [126]:
#Q4 Using reduce to find the product of all elements in a list

from functools import reduce

numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

In [127]:
#Q5 Using a lambda to check if a number is positive, negative, or zero
check_sign = lambda x: "Positive" if x > 0 else ("Negative" if x < 0 else "Zero")
print(check_sign(10))
print(check_sign(-5))
print(check_sign(0))

Positive
Negative
Zero

In [128]:
#Q6 Using lambda within a list comprehension to modify elements
numbers = [1, 2, 3, 4, 5]
double_numbers = [(lambda x: x * 2) (x) for x in numbers]
print(double_numbers)

[2, 4, 6, 8, 10]

In [129]:
#Q7 Using lambda functions in a dictionary to perform different operations
operations = {
    'add': lambda x, y: x + y,
    'subtract': lambda x, y: x - y,
    'multiply': lambda x, y: x * y,
    'divide': lambda x, y: x / y if y != 0 else 'Division by zero'
}

print(operations['add'](10, 5))
print(operations['subtract'](10, 5))
print(operations['multiply'](10, 5))
print(operations['divide'](10, 0))

15
5
50
Division by zero

# **UDF**

In [130]:
#Q1 create a udf which gives then mean, median of any random values

data = [10,5,17,11,14,4]

def desc_six(l):
    mean = round(sum(l)/len(l),2)
    s = sorted(l)
    if len(s) % 2 == 0:
        pos1 = len(s)//2
        pos2 = (len(s)//2)+1
        median = (s[pos1]+s[pos2])/2
        return mean, median

    else:
        pos = len(s)//2
        return mean, s[pos]

desc_six(data)

(10.17, 12.5)

In [131]:
#Q2 create a udf that calculates the factorial of number 

def factorial(n):
    if n == 0 or n ==1:
        return 1 
    else:
        return n * factorial(n-1)

print(factorial(5))

print(factorial(25))

120
15511210043330985984000000

In [132]:
#Q3 create a udf to get the prime numbers in the given list 

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_primes_in_list(lst):
    prime_numbers = [num for num in lst if is_prime(num)]
    if prime_numbers:
        print("Prime numbers in the list:", prime_numbers)
    else:
        print("No prime numbers in the list.")

my_list = [10, 15, 17, 23, 29, 33, 37, 42]
print_primes_in_list(my_list)

Prime numbers in the list: [17, 23, 29, 37]

In [133]:
#Q4 create a udf to get the prime numbers from the given range 

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_primes_in_range(start, end):
    prime_numbers = [num for num in range(start, end + 1) if is_prime(num)]
    if prime_numbers:
        print(f"Prime numbers between {start} and {end}: {prime_numbers}")
    else:
        print(f"No prime numbers found between {start} and {end}.")

print_primes_in_range(10, 50)

Prime numbers between 10 and 50: [11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [134]:
#Q5 Replace/Update the indexes where there are prime numbers with 100 in the list 

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
Data = list(range(1, 201, 4))
Data = [100 if is_prime(x) else x for x in Data]
print(Data)

[1, 100, 9, 100, 100, 21, 25, 100, 33, 100, 100, 45, 49, 100, 57, 100, 65, 69, 100, 77, 81, 85, 100, 93, 100, 100, 105, 100, 100, 117, 121, 125, 129, 133, 100, 141, 145, 100, 153, 100, 161, 165, 169, 100, 177, 100, 185, 189, 100, 100]

In [135]:
#Q6 create a udf which takes a list as an parameter/argument that provides 
# sum of all the multiples of 3 and 5 and product of all the odd numbers and the count of all the multiples of 3 and 5

In [136]:
data = [24, 56, 45, 7, 12, 30, 90, 81, 63, 88, 62, 102, 120, 60, 25, 39, 55, 80, 100, 75]

def process_list(data):
    sum_multiples_3_and_5 = 0
    product_of_odds = 1
    count_multiples_3_and_5 = 0

    for num in data:
        # Check if the number is a multiple of 3 or 5
        if num % 3 == 0 or num % 5 == 0:
            sum_multiples_3_and_5 += num
            count_multiples_3_and_5 += 1
        
        # Check if the number is odd
        if num % 2 != 0:
            product_of_odds *= num

    return sum_multiples_3_and_5, product_of_odds, count_multiples_3_and_5

data = [24, 56, 45, 7, 12, 30, 90, 81, 63, 88, 62, 102, 120, 60, 25, 39, 55, 80, 100, 75]
sum_multiples, product_odds, count_multiples = process_list(data)

print(f"Sum of multiples of 3 and 5: {sum_multiples}")
print(f"Product of odd numbers: {product_odds}")
print(f"Count of multiples of 3 and 5: {count_multiples}")

Sum of multiples of 3 and 5: 1001
Product of odd numbers: 6464942859375
Count of multiples of 3 and 5: 16

# **EXCEPTION HANDLING**

In [137]:
#Q1 Handling Multiple Exceptions

try:
    number = int(input("Enter a number: "))
    result = 10 / number
except ValueError:
    print("Invalid input! Please enter a number.")
except ZeroDivisionError:
    print("You can't divide by zero!")
else:
    print("Division successful:", result)
finally:
    print("End of the program.")

Enter a number:  a

Invalid input! Please enter a number.
End of the program.

In [138]:
#Q2 Raising Exceptions

def divide(a, b):
    if b == 0:
        raise ZeroDivisionError("Cannot divide by zero.")
    return a / b

try:
    result = divide(10, 0)
except ZeroDivisionError as e:
    print(f"Error: {e}")

Error: Cannot divide by zero.

In [139]:
#Q3 Exception using 'class' and 'udf'

class NegativeNumberError(Exception):
    def __init__(self, number, message="Number cannot be negative"):
        self.number = number
        self.message = message
        super().__init__(self.message)

def check_positive_number(number):
    if number < 0:
        raise NegativeNumberError(number)
    return number

try:
    num = int(input("Enter a positive number: "))
    print("You entered:", check_positive_number(num))
except NegativeNumberError as e:
    print(f"Error: {e.message}. You entered: {e.number}")
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a positive number:  -1

Error: Number cannot be negative. You entered: -1

In [140]:
#Q4 Exception using 'else' and 'finally'

try:
    num = int(input("Enter a number greater than 0: "))
    if num <= 0:
        raise ValueError("Number must be greater than 0")
except ValueError as e:
    print(f"Error: {e}")
else:
    print(f"Good job! You entered {num}.")
finally:
    print("Execution completed")

Enter a number greater than 0:  a

Error: invalid literal for int() with base 10: 'a'
Execution completed

In [141]:
#Q5 Exception Handling in a Loop

while True:
    try:
        num = int(input("Enter an integer (0 to exit): "))
        if num == 0:
            break
        result = 100 / num
        print(f"100 divided by {num} is {result}")
    except ValueError:
        print("That's not an integer!")
    except ZeroDivisionError:
        print("You can't divide by zero!")
    finally:
        print("Try another number.")

Enter an integer (0 to exit):  0

Try another number.

# ***OOPS***

# **SINGLE INHERITANCE**

In [142]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start_engine(self):
        return f"The engine of {self.year} {self.make} {self.model} is now running."

    def stop_engine(self):
        return f"The engine of {self.year} {self.make} {self.model} is now off."


class Car(Vehicle):
    def __init__(self, make, model, year, doors):
        super().__init__(make, model, year)
        self.doors = doors

    def honk_horn(self):
        return f"{self.make} {self.model} honks its horn."

    def describe(self):
        return f"{self.year} {self.make} {self.model} with {self.doors} doors."

my_car = Car("Toyota", "Corolla", 2021, 4)
print(my_car.start_engine())
print(my_car.honk_horn())
print(my_car.describe())
print(my_car.stop_engine())

The engine of 2021 Toyota Corolla is now running.
Toyota Corolla honks its horn.
2021 Toyota Corolla with 4 doors.
The engine of 2021 Toyota Corolla is now off.

# **HIERARCHICAL INHERITANCE**

In [143]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."

class Student(Person):
    def __init__(self, name, age, student_id):
        super().__init__(name, age)
        self.student_id = student_id

    def study(self):
        return f"{self.name} is studying."

    def show_id(self):
        return f"Student ID: {self.student_id}"

class Teacher(Person):
    def __init__(self, name, age, subject):
        super().__init__(name, age)
        self.subject = subject

    def teach(self):
        return f"{self.name} is teaching {self.subject}."

    def show_subject(self):
        return f"Teaches: {self.subject}"

student = Student("Alice", 20, "S12345")

teacher = Teacher("Mr. Smith", 45, "Mathematics")

print(student.introduce())   
print(student.study())       
print(student.show_id())

print(teacher.introduce())   
print(teacher.teach())       
print(teacher.show_subject())

Hello, my name is Alice and I am 20 years old.
Alice is studying.
Student ID: S12345
Hello, my name is Mr. Smith and I am 45 years old.
Mr. Smith is teaching Mathematics.
Teaches: Mathematics

# **MULTIPLE INHERITANCE**

In [144]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."

class Employee:
    def __init__(self, employee_id, position):
        self.employee_id = employee_id
        self.position = position

    def work(self):
        return f"Employee ID {self.employee_id} is working as a {self.position}."

class Manager(Person, Employee):
    def __init__(self, name, age, employee_id, position, department):
        # Initialize both parent classes
        Person.__init__(self, name, age)
        Employee.__init__(self, employee_id, position)
        self.department = department

    def manage(self):
        return f"{self.name} manages the {self.department} department."

manager = Manager("Alice", 35, "M12345", "Manager", "Sales")

print(manager.introduce())
print(manager.work())
print(manager.manage())

Hello, my name is Alice and I am 35 years old.
Employee ID M12345 is working as a Manager.
Alice manages the Sales department.

# **MULTILEVEL INHERITANCE**

In [145]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."

class Employee(Person):
    def __init__(self, name, age, employee_id):
        # Initialize the parent class (Person)
        super().__init__(name, age)
        self.employee_id = employee_id

    def work(self):
        return f"Employee ID {self.employee_id} is working."

class Manager(Employee):
    def __init__(self, name, age, employee_id, department):
        # Initialize the parent class (Employee)
        super().__init__(name, age, employee_id)
        self.department = department

    def manage(self):
        return f"{self.name} manages the {self.department} department."

manager = Manager("Alice", 35, "M12345", "Sales")

print(manager.introduce())
print(manager.work())
print(manager.manage())

Hello, my name is Alice and I am 35 years old.
Employee ID M12345 is working.
Alice manages the Sales department.

# **SUPER KEY()**

In [146]:
# Base or Parent Class
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start(self):
        return f"{self.year} {self.make} {self.model} is starting."

# Intermediate Class (Child of Vehicle)
class Car(Vehicle):
    def __init__(self, make, model, year, fuel_type):
        # Initialize the parent class (Vehicle)
        super().__init__(make, model, year)
        self.fuel_type = fuel_type

    def start(self):
        # Call the parent class's start method using super()
        base_start = super().start()
        return f"{base_start} It's a {self.fuel_type} car."

# Derived Class (Child of Car)
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        # Initialize the parent class (Car)
        super().__init__(make, model, year, fuel_type="electric")
        self.battery_capacity = battery_capacity

    def start(self):
        # Call the parent class's start method using super()
        car_start = super().start()
        return f"{car_start} Battery capacity is {self.battery_capacity} kWh."

# Create an instance of the ElectricCar class
my_electric_car = ElectricCar("Tesla", "Model S", 2022, 100)

# Access methods from ElectricCar, Car, and Vehicle classes
print(my_electric_car.start())

2022 Tesla Model S is starting. It's a electric car. Battery capacity is 100 kWh.

# **PUBLIC ACCESS SPECIFIER**

In [147]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        # Public attributes
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited ${amount}. New balance is ${self.balance}.")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient funds.")
        else:
            self.balance -= amount
            print(f"Withdrew ${amount}. New balance is ${self.balance}.")

# Creating an instance of BankAccount
account = BankAccount("John Doe", 1000)

# Accessing and modifying public attributes directly
print(f"Account holder: {account.account_holder}")  # Accessing public attribute
print(f"Initial balance: ${account.balance}")       # Accessing public attribute

# Directly modifying the public balance attribute
account.balance += 500
print(f"Balance after direct modification: ${account.balance}")

# Using methods to interact with the account
account.deposit(300)      # Deposited $300. New balance is $1800.
account.withdraw(400)     # Withdrew $400. New balance is $1400.

Account holder: John Doe
Initial balance: $1000
Balance after direct modification: $1500
Deposited $300. New balance is $1800.
Withdrew $400. New balance is $1400.

# **PROTECTED ACCESS SPECIFIER**

In [148]:
class BankAccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder   # Public attribute
        self._balance = balance                # Protected attribute

    def deposit(self, amount):
        if amount > 0:
            self._balance += amount            # Accessing protected attribute
        return self._balance

    def _calculate_interest(self):             # Protected method
        return self._balance * 0.05

    def get_balance_with_interest(self):
        interest = self._calculate_interest()  # Accessing protected method
        return f"Balance with interest for {self.account_holder}: {self._balance + interest}"

class SavingsAccount(BankAccount):
    def __init__(self, account_holder, balance, interest_rate):
        super().__init__(account_holder, balance)
        self.interest_rate = interest_rate

    def add_interest(self):
        interest = self._balance * self.interest_rate / 100
        self._balance += interest
        return f"New balance after interest for {self.account_holder}: {self._balance}"

# Creating an instance of SavingsAccount
savings_account = SavingsAccount("Alice", 1000, 3.5)

# Accessing public attribute
print(savings_account.account_holder)

# Accessing protected attribute directly (not recommended)
print(savings_account._balance)

# Calling public method to deposit money
savings_account.deposit(500)
print(savings_account._balance)

# Calling public method to get balance with interest
print(savings_account.get_balance_with_interest())

# Adding interest using derived class method
print(savings_account.add_interest())

Alice
1000
1500
Balance with interest for Alice: 1575.0
New balance after interest for Alice: 1552.5

# **PRIVATE ACCESS SPECIFIER**

In [149]:
class BankAccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder  # Public attribute
        self.__balance = balance              # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount         # Accessing private attribute
        return self.__balance

    def __calculate_interest(self):          # Private method
        return self.__balance * 0.05

    def get_balance_with_interest(self):
        interest = self.__calculate_interest()  # Accessing private method
        return f"Balance with interest for {self.account_holder}: {self.__balance + interest}"

class SavingsAccount(BankAccount):
    def __init__(self, account_holder, balance, interest_rate):
        super().__init__(account_holder, balance)
        self.interest_rate = interest_rate

    def add_interest(self):
        interest = self.__balance * self.interest_rate / 100  # Accessing private attribute (will raise an AttributeError)
        self.__balance += interest
        return f"New balance after interest for {self.account_holder}: {self.__balance}"

# Creating an instance of SavingsAccount
savings_account = SavingsAccount("Alice", 1000, 3.5)

# Accessing public attribute
print(savings_account.account_holder)

# Attempting to access private attribute directly (will raise an AttributeError)
try:
    print(savings_account.__balance)
except AttributeError as e:
    print(f"Error: {e}")

# Calling public method to deposit money
print(savings_account.deposit(500))  # Deposit 500, new balance should be 1500

# Calling public method to get balance with interest
print(savings_account.get_balance_with_interest())  


# Attempting to call private method directly (will raise an AttributeError)
try:
    print(savings_account.__calculate_interest())
except AttributeError as e:
    print(f"Error: {e}")

# Adding interest using derived class method
print(savings_account.add_interest())

Alice
Error: 'SavingsAccount' object has no attribute '__balance'
1500
Balance with interest for Alice: 1575.0
Error: 'SavingsAccount' object has no attribute '__calculate_interest'

AttributeError: 'SavingsAccount' object has no attribute '_SavingsAccount__balance'

# **METHOD OVERLOADING**

In [150]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, *args):
        if len(args) == 1 and isinstance(args[0], (int, float)):
            # Single argument: Assume it's a direct deposit amount
            self.balance += args[0]
            return f"Deposited ${args[0]}. New balance is ${self.balance}."
        elif len(args) == 2 and isinstance(args[0], (int, float)) and isinstance(args[1], (int, float)):
            # Two arguments: Assume the first is amount, second is interest rate
            deposit_amount = args[0] + (args[0] * args[1] / 100)
            self.balance += deposit_amount
            return f"Deposited ${deposit_amount} (including interest). New balance is ${self.balance}."
        elif len(args) == 1 and isinstance(args[0], list):
            # Single argument as a list: Sum all elements and deposit
            deposit_amount = sum(args[0])
            self.balance += deposit_amount
            return f"Deposited ${deposit_amount} from list. New balance is ${self.balance}."
        else:
            return "Invalid deposit arguments."

# Creating an instance of BankAccount
account = BankAccount("John Doe", 1000)

# Demonstrating different types of deposits
print(account.deposit(500))               # Single amount deposit
print(account.deposit(200, 5))            # Deposit with interest calculation
print(account.deposit([50, 100, 150]))    # Deposit using a list of amounts
print(account.deposit())                  # Invalid deposit due to no arguments

Deposited $500. New balance is $1500.
Deposited $210.0 (including interest). New balance is $1710.0.
Deposited $300 from list. New balance is $2010.0.
Invalid deposit arguments.

# **METHOD OVERRIDING**

In [151]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        return f"Deposited ${amount}. New balance is ${self.balance}."

    def withdraw(self, amount):
        if amount > self.balance:
            return "Insufficient funds."
        else:
            self.balance -= amount
            return f"Withdrew ${amount}. New balance is ${self.balance}."

class SavingsAccount(BankAccount):
    def __init__(self, account_holder, balance=0, interest_rate=0.02):
        super().__init__(account_holder, balance)
        self.interest_rate = interest_rate

    def withdraw(self, amount):
        if amount > self.balance:
            return "Insufficient funds. Savings accounts cannot be overdrawn."
        else:
            self.balance -= amount
            return f"Withdrew ${amount} from savings. New balance is ${self.balance}."

class CheckingAccount(BankAccount):
    def __init__(self, account_holder, balance=0, overdraft_limit=100):
        super().__init__(account_holder, balance)
        self.overdraft_limit = overdraft_limit

    def withdraw(self, amount):
        if amount > self.balance + self.overdraft_limit:
            return "Withdrawal denied. Overdraft limit exceeded."
        else:
            self.balance -= amount
            return f"Withdrew ${amount} from checking. New balance is ${self.balance}."

# Creating instances of different account types
savings = SavingsAccount("Alice", 500)
checking = CheckingAccount("Bob", 500)

# Demonstrating withdrawals with method overriding
print(savings.withdraw(600))  # Output: Insufficient funds. Savings accounts cannot be overdrawn.
print(checking.withdraw(600)) # Output: Withdrew $600 from checking. New balance is -$100.
print(checking.withdraw(700)) # Output: Withdrawal denied. Overdraft limit exceeded.

Insufficient funds. Savings accounts cannot be overdrawn.
Withdrew $600 from checking. New balance is $-100.
Withdrawal denied. Overdraft limit exceeded.